
body {
    font-family: Arial, sans-serif;
    background-color: #c1b6b6;
    text-align: center;
}

h1 {
    color: #333;
}

label {
    font-weight: bold;
    display: block;
}

input[type="text"] {
    padding: 5px;
    width: 300px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.container {
    border: 2px solid #333;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 400px;
    background-color: #fff;
}
